@media screen and (min-width:1170px) {
    .wrapper {
        width: 1146px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:960px) and (max-width:1169px) {
    .wrapper {
        width: 936px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:768px) and (max-width:959px) {
    .wrapper {
        width: 744px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .wrapper {
        width: 480px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (max-width:499px) {
    .wrapper {
        width: auto;
        margin-left: 8px;
        margin-right: 8px
    }
}

.wrapper {
    box-sizing: border-box;
    position: relative
}

@media screen and (min-width:1170px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:960px) and (max-width:1169px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:768px) and (max-width:959px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (max-width:499px) {
    .wrapper {
        margin: 0;
        padding: 0 12px
    }
}

.wrapper--flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.wrapper--flex.tab-content {
    display: none
}

.wrapper--flex.tab-content.current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.container--style-guide ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.container--style-guide li {
    height: 100px;
    background: lightgrey;
    box-sizing: border-box;
    width: 22.5%
}

.container--style-guide li:nth-of-type(2n+1) {
    background: rgba(0, 0, 0, 0.1)
}

img {
    max-width: 100%
}

.lesson {
    color: white;
    max-width: 500px;
    position: relative;
    margin-right: 5%;
    margin-bottom: 40px
}

@media screen and (min-width:960px) and (max-width:1169px) {
    .lesson {
        width: 30%
    }
    .lesson:nth-of-type(3n+3) {
        margin-right: 0
    }
}

@media screen and (min-width:1170px) {
    .lesson {
        width: 30%
    }
    .lesson:nth-of-type(3n+3) {
        margin-right: 0
    }
}

@media screen and (min-width:768px) and (max-width:959px) {
    .lesson {
        width: 47.5%
    }
    .lesson:nth-of-type(2n+2) {
        margin-right: 0
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .lesson {
        width: 100%;
        margin-right: 0
    }
}

@media screen and (max-width:499px) {
    .lesson {
        width: 100%;
        margin-right: 0
    }
}

.lesson--bar {
    background: #00a076;
    text-transform: uppercase;
    padding: 12px 15px;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
    font-weight: bold
}

.lesson--title {
    background: #00a076;
    background-image: -webkit-linear-gradient(left, rgba(0, 160, 118, 0.4) 0%, rgba(0, 160, 118, 0.5) 59%, rgba(0, 160, 118, 0.65) 100%);
    background-image: linear-gradient(to right, rgba(0, 160, 118, 0.4) 0%, rgba(0, 160, 118, 0.5) 59%, rgba(0, 160, 118, 0.65) 100%);
    background-size: cover;
    background-position: center;
    padding: 20px
}

.lesson--title span {
    display: block;
    margin-bottom: 30px
}

.lesson--title span p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    color: white
}

.lesson--title h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px
}

.lesson--short-description {
    background: white;
    border-radius: 0 0 5px 5px;
    color: #555;
    padding: 0 20px 30px 20px;
    position: relative
}

.lesson--short-description a.short-description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #555;
    background: transparent
}

.lesson--short-description a.short-description:hover {
    color: white
}

.lesson--short-description p {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 15px;
    border-top: 1px solid transparent
}

.lesson--likes {
    position: absolute;
    right: 20px;
    bottom: 34px
}

.lesson--likes a {
    color: #b55757
}

.lesson--likes a:hover {
    color: rgba(181, 87, 87, 0.6)
}

.lesson--likes a:focus {
    text-decoration: none
}

.lesson--likes a .likes-count {
    color: #333
}

.lesson--level-1 a.button:hover {
    border: 2px solid #00a076;
    color: #00a076
}

.lesson--level-1 .lesson--single-title-bar {
    background: #00a076
}

.lesson--level-1 .list--tags li {
    background: #00a076
}

.lesson--level-2 .lesson--bar {
    background: #454583
}

.lesson--level-2 .lesson--title {
    background-color: #454583
}

.lesson--level-2 a.button:hover {
    border: 2px solid #454583;
    color: #454583
}

.lesson--level-2 .lesson--single-title-bar {
    background: #454583
}

.lesson--level-2 .list--tags li {
    background: #454583
}

.lesson--level-3 .lesson--bar {
    background: #5d5881
}

.lesson--level-3 .lesson--title {
    background-color: #5d5881
}

.lesson--level-3 a.button:hover {
    border: 2px solid #5d5881;
    color: #5d5881
}

.lesson--level-3 .lesson--single-title-bar {
    background: #5d5881
}

.lesson--level-3 .list--tags li {
    background: #5d5881
}

.lesson--level-4 .lesson--bar {
    background: #007556
}

.lesson--level-4 .lesson--title {
    background-color: #007556
}

.lesson--level-4 a.button:hover {
    border: 2px solid #007556;
    color: #007556
}

.lesson--level-4 .lesson--single-title-bar {
    background: #007556
}

.lesson--level-4 .list--tags li {
    background: #007556
}

.lesson--single-title-bar {
    width: 70%;
    border-top-left-radius: 5px;
    padding: 25px;
    color: white
}

.lesson--single-text {
    background: white;
    width: 70%;
    border-bottom-left-radius: 5px;
    padding: 25px
}

.lesson--single-title-img {
    width: 30%;
    border-top-right-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.sidebar {
    width: 30%;
    background: #dee6e1;
    border-bottom-right-radius: 5px
}

.sidebar--text {
    padding: 25px
}

.box {
    background: white;
    border-radius: 5px;
    width: 60%;
    min-width: 600px;
    margin: 100px auto;
    padding: 25px
}

.box--large {
    width: 80%
}