h2.huge-module__title=name
div.container--style-guide
nav.nav--main 
	div.wrapper
		span.logo
			a
		ul.nav--links
			each link in items.navlinks
				li
					a #{link}
			li
				a 
					img(src='http://localhost:3000/assets/avatar-a1077a7dc895698bf1f871aa89c3261b8da55a362a19e71d3a4ec03816f122e8.jpg') 
					'Hi NatLongname'	

