$black: #333
.nav--main
  :background $black
  :padding 12px 0
  :color white
  :line-height 30px
  a
    :color white
    :text-transform uppercase
    :display inline-block
    :padding 0 10px
  .logo
    :font-size 20px
    span
      :font-size 20px
      :vertical-align middle
      :display inline-block
    img
      :width 30px
      :margin-right 6px
  .nav--links
    :float right
    :font-size 12px
    :font-weight light
    // :color rgba(255,255,255,0.5)
    a
      :color rgba(255,255,255,0.5)
      :line-height 33px
      :border-right 1px solid rgba(255,255,255,0.2)
      &:last-of-type
        :border none
    img
      :width 32px
      :height 32px
      :border-radius 50%
      :margin-left 10px
