
select
	:padding 10px 20px
	:appearance none
	:border none
	:font-size 14px
	:background lightgrey
	:border-radius 5px


.wrapper.form--new-lesson
	:border-radius 5px
	:background white
	:margin-top 30px
	:margin-bottom 30px
	input
		:width 100%
		:padding 6px 4px
		:border 1px solid #333
		:border-radius 5px
		:margin-bottom 16px
	textarea
		:height 300px
		:border 1px solid #333
		:border-radius 5px
	input[type=submit]
		:border none
	img
		:margin-bottom 16px		
	.textarea-description
		textarea
			:height 200px
	.textarea-content
		textarea
			:height 700px
	.wrapper--flex
		:border-radius 5px
	.content
		:width 70%
		:padding 25px

	.sidebar
		:padding 25px
		:border-top-right-radius 5px
		.levels
			input
				:margin 0
				:width 10%
				:text-align left
				:margin-bottom 10px
