@import '../02_colors/colors.sass'
@import '../10_grid/grid.sass'
select
	:padding 6px 12px
	:padding 6px 30px 6px 12px
	:appearance none
	:border none
	:font-size 14px
	:background white
	:border-radius 0px
	&:hover
		:cursor pointer
input, textarea, select
	:width 100%
	:padding 12px 6px
	:border 1px solid $light-grey
	:color black
input[type=checkbox]
	:width auto
input[type=submit]
	:width auto	
input[type=file]
	:background white	
.hint
	:margin-top -10px
	:display block
	:margin-bottom 10px
.label-direction	
	:color $medium-grey
	:font-size 14px
	:font-weight lighter
	:font-family $font-quicksand	
.select2-container--default .select2-selection--multiple
	:border-radius 0px
	:border 1px solid #ccc
	:width 100%
	:max-width 100%
.select2

.form--new-lesson .content, .sidebar
	input, textarea, select
		:margin-bottom 20px
		:color $medium-grey
		:line-height 22px
		:font-weight lighter
		:font-family $font-quicksand
	.select
		:position relative
		:margin-bottom 20px
		:width 100%
		&:after
			:content '▾'
			:color $medium-grey
			:position absolute	
			:right 12px
			:top 50%
			:transform translateY(-50%)
		select 
			:margin-bottom 0	
	.header--secondary 
		:margin-bottom 30px
.lesson--admin-edit
	:margin-bottom 30px
	:padding 20px
	&.wrapper--flex
		:flex-wrap wrap
	&-author
		:width 50%
		:margin-right 2%
		input 
			:color $black
		+display-for(sm xs)
			:width 100%
			:margin-right 0	
	&-color
		:width 48%
		:position relative
		.color-swatch
			:display block
			:position absolute
			:width 40px
			:right 5px 
			:top 5px
			:bottom 5px 
		+display-for(sm xs)
			:width 100%
			:margin-right 0			

	&-verified
		:width 28%	
		:margin-right 2%
		+display-for(sm xs)
			:width 100%
			:margin-right 0	
			:margin-bottom 20px
	&-message
		:width 70%
		.message-for	
			:color rgba(255,255,255, 0.9)
			:text-transform uppercase
			:font-family $font-quicksand
			:background $medium-grey
			:line-height 48px
			:padding 0 10px
			+display-for(sm xs)
				:width 100%
		.wrapper--flex
			:align-items stretch
			input
				:flex 1 0 auto
		+display-for(sm xs)
			:width 100%
			:margin-right 0			
	.lesson--admin-edit-verified, .lesson--admin-edit-message
		label
			:margin-bottom 12px

	input
			:width auto
	input, select			
			:margin-bottom 0
.lesson--admin-edit-author, .lesson--admin-edit-color
	:display flex
	:align-items center
	:margin-bottom 30px
	input
		:flex 1 0 auto
	label
		:flex 0 1 auto
		:margin-right 18px		
		


.wrapper.form--new-lesson
	:background white
	:margin-top 30px
	:margin-bottom 30px
	textarea
		:height 300px
	img
		:margin-bottom 16px
	.textarea-description
		textarea
			:height 200px
	.textarea-content
		textarea
			:height 700px
	.wrapper--flex
		// :border-radius 5px
	.content
		label
			:font-family $font-quicksand
			:font-weight lighter

	.sidebar
		:padding 25px
		textarea
			:height 200px
		.levels
			input
				:margin 0
				:width 10%
				:text-align left
				:margin-bottom 10px

// FORM COMPONENTS
.add-new-container
	:background $bg-grey
	:padding 20px 12px
	h3 
		:border-bottom 2px solid $medium-grey
		:margin-top 0
		:text-transform uppercase
	label
		:font-size 18px
		:font-weight 100
	.wrapper--flex
		:align-items flex-end
		>div 
			:padding 12px
			&:first-of-type
				:padding-left 0
			&:last-of-type
				:padding-right 0	

//PROFILE
.form--profile			
	label
		:text-transform uppercase
		:color #4C4C4C
		:margin-bottom 12px
	input, select, textarea
		:margin-bottom 24px
	label.required, span.required
		&:after
			:content '*'
			:color $red
			:margin-left 2px
	.select
		:position relative
		:margin-bottom 20px
		:width 100%
		&:after
			:content '▾'
			:color $medium-grey
			:position absolute	
			:right 12px
			:top 50%
			:transform translateY(-50%)
		select
			:margin-bottom 0			
	.internal
		:color $medium-grey					
		:font-size 12px
		:margin-left 6px
	.mailing-label
		:font-size 13px
		:font-weight normal
		:color $medium-grey
		:margin-left 8px 
		:text-transform initial
	.actions
		:align-items center
		:margin 28px 0 16px
		.button
			:flex 0 1 200px	
			:margin-bottom 0
			:margin-right 20px	

