include ../_includes/modulesData
.huge-sidebar
  .huge-sidebar__toggle--out
    a(href='#') Menu
  .huge-sidebar__content
    .huge-sidebar__toggle--in
      a(href='#') Menu
    //img.huge-sidebar__logo.clearfix(src='styleguide/assets/images/#{public.styleguide._data.logoImage}')
    svg.huge-sidebar__logo#Layer_1(data-name='Layer 1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 93.71 93.92')
      defs
        style.
          .cls-1{fill:#ffce06;}
      title tlc-hashtag
      path.cls-1(d='M1100.91,539.63l-15.54-15.55,15.54-15.53,15.53,15.53Zm29.34-15.55,16.47-16.46c1.9-1.91,1.27-4.37-.64-6.28s-4.36-2.54-6.27-.63l-16.46,16.46-15.53-15.53,16.45-16.46c1.91-1.91,1.28-4.37-.63-6.27s-4.36-2.56-6.27-.63l-16.46,16.47-16.1-16.11c-1.91-1.91-4.72-1.63-6.63.27s-2.2,4.72-.28,6.63l16.1,16.11-15.53,15.52-16.11-16.09c-1.91-1.91-4.72-1.63-6.63.28a4.55,4.55,0,0,0-.27,6.62l16.09,16.11-16.09,16.1c-1.91,1.89-1.63,4.72.27,6.63a4.57,4.57,0,0,0,6.63.27L1078.47,531,1094,546.51l-16.09,16.1a4.9,4.9,0,0,0,6.91,6.9l16.1-16.09,16.46,16.46c1.91,1.91,4.36,1.26,6.27-.64s2.54-4.35.63-6.27l-16.45-16.46L1123.35,531l16.46,16.47c1.9,1.91,4.36,1.25,6.27-.63s2.54-4.36.64-6.27Z', transform='translate(-1054.16 -477.12)')

    nav.huge-sidebar__nav.row.clearfix
      ul.huge-list--unstyled
        each module in modulesData
          li.huge-sidebar__nav__item
            a(href="##{module.id}").huge-sidebar__nav__item__link.huge-anchor=module.name
