ol,
ul {
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none
}

ul.list li {
    padding-left: 20px;
    position: relative
}

ul.list li:before {
    content: '•';
    font-size: 24px;
    top: 0;
    color: #FFCE06;
    position: absolute;
    left: 0;
    line-height: 30px
}

ol.list li {
    counter-increment: step-counter;
    padding-left: 20px;
    position: relative
}

ol.list li:before {
    content: counter(step-counter);
    position: absolute;
    top: 0;
    left: 0;
    color: #FFCE06
}

ul.list--tags .title {
    display: block;
    background: transparent!important;
    color: #333;
    padding: 0;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 20px
}

ul.list--tags li {
    padding: 4px 6px;
    background: #FFCE06;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px
}

ul.list--tags li:last-of-type {
    margin-right: 0
}