html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

@media screen and (min-width:1170px) {
    .wrapper {
        width: 1146px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:960px) and (max-width:1169px) {
    .wrapper {
        width: 936px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:768px) and (max-width:959px) {
    .wrapper {
        width: 744px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .wrapper {
        width: 480px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (max-width:499px) {
    .wrapper {
        width: auto;
        margin-left: 8px;
        margin-right: 8px
    }
}

.wrapper {
    box-sizing: border-box;
    position: relative
}

@media screen and (min-width:1170px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:960px) and (max-width:1169px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:768px) and (max-width:959px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (max-width:499px) {
    .wrapper {
        margin: 0;
        padding: 0 12px
    }
}

.wrapper--flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.wrapper--flex.tab-content {
    display: none
}

.wrapper--flex.tab-content.current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.wrapper--secondary {
    background: white;
    border-radius: 5px;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px
}

.container--style-guide ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.container--style-guide li {
    height: 100px;
    background: lightgrey;
    box-sizing: border-box;
    width: 22.5%
}

.container--style-guide li:nth-of-type(2n+1) {
    background: rgba(0, 0, 0, 0.1)
}

img {
    max-width: 100%
}

.as--home-form select {
    width: 100%;
    background: #00a076;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: -2px 2px 0 0 #00d39c
}

.as--home-form .select {
    position: relative;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 70px
}

.as--home-form .select:nth-of-type(3n+3) {
    margin-right: 0
}

@media screen and (min-width:768px) and (max-width:959px) {
    .as--home-form .select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .as--home-form .select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px
    }
}

@media screen and (max-width:499px) {
    .as--home-form .select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px
    }
}

.as--home-form .select:after {
    content: '\25BC';
    position: absolute;
    right: 14px;
    top: 34%;
    color: white;
    font-size: 12px;
    pointer-events: none
}

.as--home-form input[type=submit] {
    display: block;
    width: 100%;
    margin-bottom: 70px
}

.wrapper.as--home-intro {
    padding: 50px 0 70px 0
}

.wrapper.as--home-intro p {
    max-width: 700px;
    margin: 0 auto
}

.as--search-results {
    margin-bottom: 60px
}

.as--profile-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: block
}

.as--underlined {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px
}

.as--no-top-margin {
    margin-top: 0
}

.wrapper.as--lesson-wrapper {
    margin-top: 30px;
    margin-bottom: 30px
}

@media screen and (max-width:499px) {
    .wrapper.as--lesson-wrapper {
        width: 100%!important
    }
}

label[for=user_remember_me] {
    margin-left: 25px
}