html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

@media screen and (min-width:1170px) {
    .wrapper {
        max-width: 1146px;
        width: 85%
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:960px) and (max-width:1169px) {
    .wrapper {
        width: 936px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:768px) and (max-width:959px) {
    .wrapper {
        width: 744px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .wrapper {
        width: 480px
    }
    .wrapper:margin {
        left: 12px;
        right: 12px
    }
}

@media screen and (max-width:499px) {
    .wrapper {
        width: auto;
        margin-left: 8px;
        margin-right: 8px
    }
}

.wrapper {
    box-sizing: border-box;
    position: relative
}

@media screen and (min-width:1170px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:960px) and (max-width:1169px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:768px) and (max-width:959px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (min-width:500px) and (max-width:767px) {
    .wrapper {
        margin: 0 auto
    }
}

@media screen and (max-width:499px) {
    .wrapper {
        margin: 0;
        padding: 0 12px
    }
}

.wrapper--flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.wrapper--flex.tab-content {
    display: none
}

.wrapper--flex.tab-content.current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.wrapper--secondary {
    background: white;
    border-radius: 5px;
    padding: 0 70px;
    margin-top: 60px;
    margin-bottom: 30px
}

@media screen and (min-width:500px) and (max-width:767px) {
    .wrapper--secondary {
        padding: 0 40px
    }
}

@media screen and (max-width:499px) {
    .wrapper--secondary {
        padding: 0 40px
    }
}

.container--style-guide ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.container--style-guide li {
    height: 100px;
    background: lightgrey;
    box-sizing: border-box;
    width: 22.5%
}

.container--style-guide li:nth-of-type(2n+1) {
    background: rgba(0, 0, 0, 0.1)
}

img {
    max-width: 100%
}

.green {
    background: #FFCE06
}

.red {
    background: red
}

#colors li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em
}

#colors li p {
    position: absolute;
    padding: 3px 13px;
    color: #666;
    background-color: #fff;
    font-size: 12px;
    bottom: 0;
    left: 0.9375em
}

#colors li .color {
    height: 120px;
    margin-right: 0.9375em
}

#colors li:last-child {
    margin-right: 0
}

body {
    font-family: 'Montserrat'!important
}

*:focus {
    outline: -webkit-focus-ring-color #FFCE06 5px
}

h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 1.2
}

@media screen and (max-width:499px) {
    h1 {
        font-size: 40px
    }
}

h2 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase
}

@media screen and (max-width:499px) {
    h2 {
        font-size: 32px
    }
}

h3 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400
}

p {
    font-family: 'Quicksand'!important;
    font-size: 16px;
    line-height: 1.6;
    color: #666
}

p.small {
    font-size: 13px
}

.font-llc {
    font-family: 'Montserrat', 'Helvetica', sans-serif
}

.font-quicksand {
    font-family: 'Quicksand', 'Helvetica', sans-serif
}

.bold {
    font-weight: 700
}

.italic {
    font-style: italic
}

.center {
    text-align: center
}

a {
    color: #333
}

a:hover {
    background: transparent;
    text-decoration: none!important;
    color: #FFCE06
}

a:active {
    text-decoration: none!important
}

a:focus {
    text-decoration: none!important
}

#typography h1,
#typography h2,
#typography h3,
#typography h4,
#typography h5,
#typography h6,
#typography p {
    margin-top: 0
}