@import '../10_grid/grid.sass'
@import '../02_colors/colors.sass'
@import '../03_typography/typography.sass'

.as--landing-page.wrapper  
  :color white
  :padding 120px 7% 40px 0
  +display-for(xs)
    :padding 60px 12px 40px
  h1 
    :font-size 54px
    :font-weight bold
    :text-transform uppercase
  p 
    :font-family $font-quicksand
    :font-size 22px 
    :color white
    :letter-spacing 0.5px
  +display-for(sm xs)
    h1
      :font-size 32px
    p 
      :font-size 16px  
.as--about-wrap
  :padding 45vh 0 10vh
  h1
    :color white
    :font-size 70px  
    :font-weight bold
    :text-transform uppercase
.as--about-page.wrapper--flex
  +display-for(sm xs)
    :flex-wrap wrap 
    :margin-top 20px   
.as--about-page
  :padding 60px 0 0
  p 
    :color $black
    a   
      :font-weight bold
  aside 
    :flex 1 0 34%   
    :margin-left 40px
    :background $bg-grey
    +display-for(sm xs)
      :margin-left 0
      :flex 1 0 100%
      :margin-top 40px
    h2 
      :color white
      :background $black
      :font-size 26px
      :padding 10px 28px
      :margin 0
    >div 
      :padding 20px
      :text-align center
      img 
        :margin 20px 0 40px
      .button
        :margin-bottom 20px
      p 
        :width 80%
        :margin 0 auto
        :color $black
  .button-boxes
    :margin-top 60px 
.as--about-page + .as--about-page
  :padding-top 0                 


     
.as--header-link
  :color $yellow  
.as--bookmark-button
  @media print
    :display none  

.as--home-form
  :margin 60px 0 40px
  .wrapper--flex
    div 
      :flex 1 0 auto
    .wrapper--flex
      :flex-wrap wrap
      +display-for(lg md sm xs)
        :width 100%
      div 
        :flex 1 1 45%
        +display-for(lg md sm xs)
          :flex 1 0 100%
    +display-for(lg md sm xs)
      :flex-wrap wrap    
  select
    :background $light-grey
    :color $black
    :font-size 14px
    :font-weight bold
    :text-transform uppercase
    :cursor pointer
    :letter-spacing 0.5px

  .select
    :position relative
    :margin-right 5%
    :margin-bottom 20px
    &:nth-of-type(2n + 2)
      :margin-right 0
    +display-for(lg md sm xs)
      :margin-right 0  
    &:after
      :content '\25BC'
      :position absolute
      :right 14px
      :top 34%
      :color black
      :font-size 10px
      :pointer-events none

  input[type=submit]
    :display block
    :width 30%
    :margin-bottom 70px
    +display-for(md sm xs)
      :width 50%
  .filter-controls 
    :display flex
    :flex-direction column  
    label, span
      :font-size 14px
      :font-weight bold
      :text-transform uppercase
      :font-family $font-llc 
      :color $dark-grey 
      :flex 1 0 auto
      :cursor pointer
    label
      :margin-bottom 0  
    span, div 
      :margin-bottom 20px 
      :display block 
      :display flex
      :align-items center
      :margin-left 5%
      +display-for(lg md sm xs)
        :margin-left 0
    input[type="checkbox"]
      :margin 0 10px 0 0
    span 
      i 
        :margin-right 6px    

.wrapper.as--home-intro
  :padding 25vh 16% 10vh 0
  :color white
  +display-for(md sm xs)
    :padding 50px 20px 70px 20px
  p
    :margin 0 auto 40px
    :text-align left
    :font-family Quicksand
    :font-size 22px
    :letter-spacing 0.5px
    :color white
  h1 
    :padding-right 10%
    :margin 30px auto
    :font-size 70px
    :font-weight bold
    :text-transform uppercase
    :line-height 1.3
    :margin-bottom 20px
    +display-for(md sm xs)
      :font-size 38px
      :line-height 1.2
      :padding-right 0
  .button:first-of-type 
    :margin-right 20px    
.as--search-results
  :margin 30px 0
  :text-transform capitalize

.as--about
  :display flex
  :flex-direction row
  :margin-bottom 45px
  +display-for(md sm xs)
    :flex-direction column-reverse
  div
    :max-width 66%
    :padding 12px 30px 12px 0
    +display-for(md sm xs)
      :max-width 100%
  img 
    :margin-left 40px
    :max-width 330px
    :width 330px
    :height 330px
    +display-for(md sm xs)
      :width 300px 
      :max-width 100%
      :margin 0 auto
  p.special 
    :font-size 30px
    :line-height 38px
    :color #000
    :padding 14px 0

.as--about-buttons
  :min-width 158px
.as--request-button  
  :margin 0
.nav--main
  .nav--links  
    a.as--request-button  
      :color black

.as--about-training
  :display flex
  :margin-bottom 30px
  :min-height
  h2 
    :padding-right 50px
  +display-for(md sm xs)
    :flex-direction column
  .as--training:first-child
    :padding-right 20px
    div
      :display flex
      :justify-content flex-start
      +display-for(xs)
        :display block
      a:first-child
        :margin-right 30px
        +display-for(xs)
          :margin-bottom 0
  .as--training:last-child
    :padding-left 20px
    +display-for(md sm xs)
      :padding-left 0
      :margin-top 30px

.as--about-guide
  :display flex
  :margin-bottom 40px
  :padding 0 30px 
  +display-for(md sm xs)
    :flex-direction column
  p.special 
    :font-family 'Montserrat'!important
    :font-weight bold
    :color #000
    :padding 14px 0
  div
    :width 44%
    :text-align left
    +display-for(md sm xs)
      :width 100%
    &:first-child 
      :width 56%
      :margin-right 30px
      +display-for(md sm xs)
        :width 100%
        :margin-bottom 30px
.about-heading 
  :font-size 60px


.as--profile-avatar
  :border-radius 50%
  :width 100px
  :height 100px
  :border 2px solid rgba(0,0,0,0.2)
  :margin 0 auto
  :display block

.as--underlined
  :border-bottom 1px solid #bbb
  :padding-bottom 10px
.as--no-top-margin
  :margin-top 0
.wrapper.as--lesson-wrapper
  +display-for(xs)
    :width 100% !important

label[for=user_remember_me]
  :margin-left 25px

.wrapper .as--creds
  :display flex
  :flex-direction column
  :min-width 160px
  p
    :padding-left 0
    :padding-right 0

.container-codeclubs 
    :background-size cover
    h2 
      :margin-bottom 20px
    .as--about-guide-wrap
      :margin-bottom 50px
      :padding-top 20px
      :text-align center
      :background #E2E2E2
      h2
        :text-align center
        :margin-bottom 40px
        :background $yellow
        +display-for(md sm xs)
          :font-size 42px
          :padding 10px 0


.text-edit 
  :font-family Quicksand
  :font-size 14.5px
  :line-height 21px
  :padding-bottom 25px

.sidebar--text .text-edit
  :padding-bottom 0px

.as--hashtag-wrap 
  :width 15%
  :margin 0 auto

.as--search-wrap
  :width 40%
  :margin-bottom 30px
  +display-for(md sm xs)
    :width 100%
  input
    :margin 0
    &:first-child
      :margin-bottom 12px
    &:last-child
      :width 25%
      :background $yellow
      :border 2px solid $yellow
      +display-for(md sm xs)
        :width 55%

.as--lesson-title
  :width: 100%
  :margin-right 20px
.as--browse-title
  :position relative
  .grid, .list
    :display block
    :position absolute 
    :cursor pointer
    :color $light-grey
    :font-size 30px 
  i
    :line-height 46px
    :cursor pointer
    &:hover 
      :color $blue
  .list 
    :right 0
    :top 0
  .grid   
    :right 40px
    :top 0
  input[type="radio"]:checked + label
    :color $blue  

.as--lesson-author
  :width 100%
  :display flex
  :justify-content flex-end
  +display-for(sm xs)
    :justify-content flex-start
    :margin-top 10px


/* .slideThree */
.slideThree 
  :width 140px
  :height 40px
  :background #EEE
  :margin 20px auto
  :position relative
  :border-radius 50px
  // :box-shadow inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2)
  &:after
    :content 'PENDING'
    :line-height 40px !important
    :color #E88F14
    :position absolute
    :right 4px
    :z-index 0
    :font 12px/26px Arial, sans-serif
    :font-weight bold
    // :text-shadow 1px 1px 0px rgba(255,255,255,.15)
  &:before 
    :content 'PUBLIC'
    :color $green
    :line-height 40px !important
    :position absolute
    :left 10px
    :z-index 0
    :font 12px/26px Arial, sans-serif
    :font-weight bold
  label 
    :display block
    :width 70px
    :height 34px
    :cursor pointer
    :position absolute
    :top 3px
    :left 3px
    :z-index 1
    :background #E88F14
    :background linear-gradient(top, #E88F14, #FBE7CF)
    :border-radius 50px
    :transition all 0.4s ease
    :box-shadow 0px 2px 5px 0px rgba(0,0,0,0.3)
  input[type=checkbox]
    :visibility hidden
    &:checked + label
      :left 66px
      :background linear-gradient(top, #82BBA3, $green)
    

/* end .slideThree */

.as--admin-title 
  :font-size 40px
  :font-weight bold
  :text-transform uppercase
  :margin 40px 0 20px
  :border-bottom 3px solid $yellow

.as--profile-tab
  :min-height 60vh
  a.button
    :margin 6px

.as--profile-school
  :margin-bottom 30px

.as--glossary-textarea
  :flex 1 0 auto
  textarea
    :height 46px
    :display block
.as--glossary-input
  :flex 0 0 250px
.as--profile-wrapper
  :border-top 3px solid $yellow
  :border-bottom 3px solid $blue
  :padding-top 28px 
  :margin-bottom 100px 
  &.wrapper--flex
    :align-items center
    > div 
      :flex 1 0 auto 
  .form-actions
    :display flex
    :align-items flex-start
    input.button:nth-of-type(1)
      :margin-right 18px
    .button
      :flex 1 0 auto  
  .control-label.boolean
    :font-size 16px 
    :font-family $font-quicksand
    :text-transform initial  
    :font-weight 100
    :color $medium-grey 
    :margin-bottom 24px 
  p 
    :color $black
    :margin-bottom 32px      
.as--profile-show
  img 
    :border-radius 50%
    :width 150px 
  .as--profile-wrapper
    :padding-bottom 20px
  .button
    :margin-right 12px 
  .list--profile-info
    li 
      :margin-bottom 12px
      :font-family $font-quicksand
      span 
        :font-weight bold
        :margin-right 12px 
    li:last-of-type
      :margin-bottom 32px      
.as--other-links
  :font-size 13px
  a 
    :color $medium-grey
    :display block 
.as--other-links a:last-of-type
  :margin-bottom 20px    
       
.as--creds-clc
  :border-bottom none !important       







