.green {
    background: #FFCE06
}

.red {
    background: red
}

#colors li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em
}

#colors li p {
    position: absolute;
    padding: 3px 13px;
    color: #666;
    background-color: #fff;
    font-size: 12px;
    bottom: 0;
    left: 0.9375em
}

#colors li .color {
    height: 120px;
    margin-right: 0.9375em
}

#colors li:last-child {
    margin-right: 0
}

.button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    background: transparent;
    -webkit-transition: background-color 0.3s, opacity 0.3s;
    transition: background-color 0.3s, opacity 0.3s;
    margin-bottom: 16px
}

.button--primary {
    font-size: 12px;
    text-transform: uppercase;
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
    border-radius: 3px;
    padding: 5px 14px;
    line-height: 15px;
    background: white;
    margin-bottom: 0;
    font-weight: normal
}

.button--primary:hover {
    background: black;
    text-decoration: none!important;
    color: #FFCE06;
    border: 2px solid black
}

.button--secondary {
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 12px;
    letter-spacing: 2px;
    font-family: montserrat;
    font-size: 26px;
    width: 30%;
    font-weight: 300;
    margin: 0 auto;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.8)
}

.button--secondary:hover {
    background: black;
    text-decoration: none!important;
    color: #FFCE06;
    border: 2px solid #FFCE06
}

.button--tertiary {
    background: #FFCE06;
    color: black;
    text-transform: uppercase;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #FFCE06;
    margin-top: 30px;
    font-weight: normal;
    font-family: montserrat
}

.button--tertiary:hover {
    background: black;
    text-decoration: none!important;
    color: #FFCE06;
    border: 1px solid black
}

.button--large {
    padding: 10px 12px;
    font-size: 20px
}

#buttons .button {
    margin-bottom: 20px
}