h2.huge-module__title=name
h3 Button Boxes
.wrapper--flex.wrapper.button-boxes
  a(href='/about')
    h2 Get started with our guide for beginners
    .button.button--primary How-To Guide
  a(href='/lessons')
    h2 Find and create your own lessons
    .button.button--primary Browse Lessons
  a.button(href='http://ladieslearningcode.com/educator-workshops')
    h2 Join a worshop for educators
    .button.button--primary Workshops
