@import '../10_grid/grid.sass'

$green : #00a076
$green-dark: rgba(0, 117, 86, 1)
$purple : purple
$yellow : #FFCE06
$grey: #555
$blue: rgba(69, 69, 131, 1)
$purple: rgba(93, 88, 129, 1)

// LESSON LEVELS
$grey-blue : #5e869b
$light-blue : #3873a0
$royal-blue : #0953a3
$dark-blue : #1a3967
.lessons-listing
	:flex-wrap wrap
.lesson
	:color white
	:max-width 500px
	:position relative
	:margin-right 5%
	:margin-bottom 40px
	:border-bottom 3px solid $yellow
	+display-for(lg xl)
		:width 30%
		&:nth-of-type(3n+3)
			:margin-right 0
	+display-for(md)
		:width 47.5%
		&:nth-of-type(2n+2)
			:margin-right 0
	+display-for(sm xs)
		:width 100%
		:margin-right 0
	&--bar
		:background $blue-light
		:text-transform uppercase
		:padding 12px 15px
		:font-size 14px
		:letter-spacing 1px
		:letter-spacing 0.5px
		:position relative
	&--title
		:background $blue
		:background-image linear-gradient(to right, rgba(31, 72, 123, 0.4) 0%, rgba(31, 72, 123, 0.5) 59%, rgba(31, 72, 123, 0.65) 100%)
		:background-size cover
		:background-position center
		:padding 20px

		span
			:display block
			:margin-bottom 30px
			p
				:margin 0
				:padding 0
				:font-size 14px
				:font-weight bold
				:letter-spacing 0.5px
				:text-transform uppercase
				:line-height 18px
				:color white
				:font-family $font-quicksand
		h2
			:font-size 30px
			:font-weight bold
			:margin-bottom 50px
	&--short-description
		:background white
		:color $black
		:padding 0 20px 30px 20px
		:position relative
		p 
			:color $black
			:font-size 14px
			:font-family $font-quicksand
		// &:hover
		// 	:background $grey-blue
		// 	p
		// 		:color white
		a.short-description
			:position absolute
			:width 100%
			:height 100%
			:top 0
			:left 0
			:color $black
			:background transparent
			&:hover
				:color white
		p
			:margin-top 0
			:margin-bottom 30px
			:padding-top 15px
			:border-top 1px solid transparent
	&--likes
		:position absolute
		:top 0
		:right 16px
		:background $pink
		.ribbon
			:position relative
			:display block
			:padding 2px 0 12px
			:width 30px
			:text-align center
			&:before, &:after 
				:content ''
				:position absolute
				:border-bottom 10px solid $blue-light
				:border-left 15px solid transparent
				:border-right 15px solid transparent
				:bottom 0
				:left 0
				
			   
		// .likes-count
		a
			// :color white
			&:hover
				:color rgba(181, 87, 87, 0.6)
			&:focus
				:text-decoration none
			.likes-count
				:color white

.lesson--single-title-bar,
.lesson--single-text,
.lesson--single-title-img,
.sidebar
	+display-for(sm xs)
		:width 100% !important
.lesson--single-title-bar
	:width 70%
	:padding 25px
	:color white
	:background $blue
	h2
		:font-weight normal
		:padding 0 4px
	h3
		:margin-bottom 0
		:font-size 16px 
		a
			:color white
			:font-weight bold
	h4 
		:font-size 14px
		:text-transform uppercase
		:padding-bottom 12px
		:border-bottom 1px solid white
	h3, h4
		:padding 10px 4px	
.lesson--nav
	:width 70%
	:background $grey-edit
	:padding 20px 25px
	p 
		:font-size 12px
		:color $black
	ul
		:display flex
		:padding 0
		:margin 0
		:text-transform uppercase
		:font-size 12px
		:font-weight bold
		li 
			:flex 1 0 auto
			a 
				:color $blue
				:border-bottom 2px solid transparent
				&:hover 
					:color $black
					:border-bottom 2px solid $black
.lesson--share 
	:width 30%
	:background $medium-grey
.lesson--single-text
	:background white
	:width 70%
	:padding 25px 25px 25px 15px
	section 
		.text-edit
			:display none
.lesson--single-title-img
	:width 30%
	:background-size cover
	:background-position center
	:background-repeat no-repeat
	:background-color grey
	+display-for(sm xs)
		:height 200px
.lesson--section-title
	:text-transform uppercase
	:color $blue	
	:border-bottom 1px solid $blue
	:margin 0
	:padding 12px	
	:position relative
	:font-size 16px
	:font-weight bold
	&:hover
		:background $blue
		:color white
		&:after
			:color white
	&.active
		:background $blue
		:color white
		&:after
			:color white
			:transform rotate(0deg)	
	&:after 
		:content '⌃'
		:transform rotate(180deg)
		:color $blue
		:position absolute
		:right 12px
		:top 30%
		:font-weight bold
.sidebar
	:width 30%
	:background $grey-edit
	&--text
		:padding 25px

.lesson--admin-edit
	:background $grey-edit  			


// GENERINC ELEMENTS

.required 
	&:after
		:content '*'
		:color $red
		:margin-left 2px

// BOX
.box
	:background white
	:border-radius 5px
	:width 60%
	:max-width 600px
	:margin 100px auto
	:padding 25px
	+display-for(sm xs)
		:width 90%

.box--large
	:width 80%


// TABS

.tab-content
	:margin 60px 0
ul.tabs
	li 
		:flex 1 0 auto
		:text-align center
		:padding 12px 0
		:background $bg-grey
		:margin-right 1px
		:color $blue
		:cursor pointer
		:border-bottom 1px solid $blue
		&:last-of-type
			:margin-right 0
		&.current
			:background $blue
			:color white


// TITLES
.title--tertiary
	:text-transform uppercase
	:color $blue
	:font-family $font-llc
	:font-size 16px
	:border-bottom 1px solid $blue
	:margin 0
	:padding 12px 6px
	:margin-bottom 20px				


// HEADERS

.header--secondary
	:background $blue
	:color white
	:padding 20px
	.wrapper--flex 
		:align-items center
		:justify-content space-between
	.actions 
		a:first-child
			:margin-right 12px	
 
		
	

.resource--header
	:margin 28px 0 40px
	h1 
		:font-size 40px
		:margin-top 0
	p, h1
		:color white	
	p 
		:width 80%
		:max-width 700px	
	>div
		:background $medium-grey
		:border-bottom 3px solid $yellow
		:padding 28px
	.alphabet
		:display flex
		:text-transform uppercase
		li 
			:flex 1 0 auto
			:text-align center
			:background #DBDBDB
			:padding 4px 0
			:cursor pointer
			&:nth-of-type(2n + 2)		
				:background #E6E6E6
			&.active
				:background $blue
				:color white

.admin--users-export
	:background $grey-edit
	:padding 20px
	:margin-bottom 40px
	h2
		:color $dark-grey
		:font-size 26px
		:text-transform uppercase
		:border-bottom 2px solid $dark-grey
		:margin-top 0
	.users-exports-container
		:display flex	
		>div:last-of-type
			:display flex
			:align-items flex-end
	.wrapper--flex
		:flex-wrap wrap
		:width 90%
		div
			:width 25%
	label 
		:font-family $font-quicksand
		:text-transform uppercase
		:font-weight lighter
		:font-size 14px		
// BOOTSY
.wysihtml5-toolbar
	:border 1px solid $light-grey
	:display flex
	:padding 12px 6px 0 !important
	:background white
	.bootsy-controls
		:border-bottom 2px solid white
		:margin-right 12px
	.bootsy-controls.wysihtml5-command-active	
		:color $blue
		:border-bottom 2px solid $blue
		:background white
.wysihtml5-sandbox		
	:border-radius 0px !important
	:border 1px solid $light-grey !important
	:border-top none !important

.modal-fixed
  :position fixed
  :top 30%
  :left 50%
  :width 80%
  :max-width 600px
  :transform translateX(-50%)
  :z-index 10
  :background white
  :border 2px solid $black
  :padding 20px 30px 
  :text-align center
  h3 
  	:font-size 40px
  .modal-close
  	:position absolute
  	:right 10px
  	:top 10px
  	:cursor pointer

.modal--overlay
	:position fixed
	:top 0
	:left 0
	:right 0
	:bottom 0
	:background rgba(0,0,0,0.2)
	:display none
.modal.modal--about
	:background white
	:bottom auto
	:width 80%
	:margin 0 auto
	:top 20%
	:padding 30px
	:border 1px solid lightgrey
	:max-width 500px
	input 
		:margin-bottom 12px	


 	








